#wotd-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 90px;
    position: relative;
    z-index: 10;
}

#wotd-box {
    text-align: center;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 20;
}

#DailyApp {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Keep the daily app section in front */
}



#wotd-box:hover {
    background-color: rgba(240, 240, 240, 0.9); /* Slightly darker background on hover */
}

#wotd-box img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
#wotd-box h3 {
    font-size: 18px;
    margin: 10px 0 5px;
}
#wotd-box p {
    font-size: 14px;
    margin: 5px 0;
    color: #555;
}

#wotd-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Quote of the Day Section */
#qotd-section {
    position: absolute;
    top: 50px; /* Position the quote slightly below the navbar */
    left: 50%;
    transform: translateX(-50%); /* Center the quote */
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#qotd-title {
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

#QuoteApp h3 {
    font-size: 24px;
    font-style: italic;
    line-height: 1.5;
    margin: 0;
}

#QuoteApp p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}
#start-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#start-btn:hover {
    background-color: #45a049;
}

#completed-message {
    font-size: 20px;
    color: #4CAF50;
    display: none;
}